<form autocomplete="off">

    <div class="cct-recent-events">
        {{#each recentEvents as |event|}}
        <div class="cct-event" data-index="{{@index}}" data-tooltip="{{event.name}}" style="background-image: url('{{event.img}}');"></div>
        {{/each}}
    </div>

    <div class="form-group">
        <label>{{localize 'Name'}}</label>
        <div class="form-fields">
            <input type="text" name="name">
        </div>
    </div>

    <div class="form-group">
        <label>{{localize 'COMBAT.CombatantInitiative'}}</label>
        <div class="form-fields">
            <input type="text" name="initiative">
        </div>
    </div>

    <div class="form-group">
        <label>{{localize 'combat-tracker-dock.add-event.duration'}}</label>
        <div class="form-fields">
            <input type="number" name="duration">
        </div>
    </div>

    <div class="form-group">
        <label>{{localize 'Image'}}</label>
        <div class="form-fields">
            {{filePicker type="image" target="img"}}
            <input type="text" name="img" placeholder="path/image.png">
        </div>
    </div>

    <div class="form-group">
        <label>{{localize 'Hidden'}}</label>
        <div class="form-fields">
            <input type="checkbox" name="hidden">
        </div>
    </div>

    <button type="submit">
        <i class="fas fa-plus"></i> {{localize 'combat-tracker-dock.add-event.title'}}
    </button>
</form>
