<form action="">
    <ul style="list-style: none; padding: 0; margin: 0;">
    {{#each attributes}}
    <li>
    <fieldset style="border-radius: 5px; margin-bottom: 0.2rem;">
        <div class="form-group">
            <label for="attr">{{{localize "combat-tracker-dock.settings.attributesMenu.form.attr.name"}}}</label>
            <input type="text" name="attr" placeholder="" value="{{attr}}">
        </div>
        <div class="form-group">
            <label for="icon">{{{localize "combat-tracker-dock.settings.attributesMenu.form.icon.name"}}}</label>
            <input type="text" name="icon" placeholder="" value="{{icon}}">
            {{filePicker type="image" target="icon"}}
        </div>
        <div class="form-group">
            <label for="units">{{{localize "combat-tracker-dock.settings.attributesMenu.form.units.name"}}}</label>
            <input type="text" name="units" placeholder="" value="{{units}}">
        </div>
    </fieldset>
    </li>
    {{/each}}
    </ul>
    <div style="display: flex;">
        <button type="submit"><i class="fas fa-save"></i> {{{localize
            "combat-tracker-dock.settings.attributesMenu.form.save"}}}</button>
        <button id="add"><i class="fas fa-plus"></i> {{{localize
            "combat-tracker-dock.settings.attributesMenu.form.add"}}}</button>
    </div>
</form>