<div class="combat-dock-tooltip-wrapper">
    <div class="portrait-header">
        <h2>{{name}}</h2>
        <div class="initiative">
            <i class="fa-regular fa-dice-d20 icon"></i>
            <h3>{{initiative}}</h3>
        </div>
    </div>
    {{#if hasPermission}}
    {{#if description}}
    <p>{{ description}}</p>
    {{/if}}
    {{/if}}
    {{#if hasPermission}}
    <ul {{#unless hasAttributes}}style="display:none;" {{/unless}}>
        {{#each attributes as |attribute|}}
        <li>{{{attribute.icon}}}<i class="spacer"></i><span>{{#if
                attribute.max}}{{attribute.value}}/{{attribute.max}}{{else}}{{attribute.value}}{{/if}}
                {{attribute.units}}</span>
        </li>
        {{/each}}
    </ul>
    {{/if}}
    <ul {{#unless hasEffects}}style="display:none;" {{/unless}}>
        {{#each effects as |effect|}}
        <li><img src="{{effect.icon}}" alt=""><i class="spacer"></i><span>{{{localize effect.label}}}</span></li>
        {{/each}}
    </ul>
</div>