<div class="combat-dock-tooltip-wrapper">
    <div class="portrait-header">
        <h2>{{name}}</h2>
        <div class="initiative" {{#if isInitiativeNaN}}style="display:none;"{{/if}}>

            <i {{#if initiativeData.isIconImg}}style="background-image: url('{{initiativeData.icon}}');"{{else}}class="{{initiativeData.icon}}"{{/if}}></i>        
            <h3>{{initiativeData.value}}</h3>
        </div>
    </div>
    {{#if hasPermission}}
    {{#if description}}
    <p>{{ description}}</p>
    {{/if}}
    {{/if}}
    {{#if hasPermission}}
    <ul {{#unless hasAttributes}}style="display:none;" {{/unless}}>
        {{#each attributes as |attribute|}}
        <li>{{{attribute.icon}}}<span>{{#if
                attribute.max}}{{attribute.value}}/{{attribute.max}}{{else}}{{{attribute.value}}}{{/if}}
                <i>{{attribute.units}}</i></span>
        </li>
        {{/each}}
    </ul>
    {{/if}}
    <ul {{#unless hasEffects}}style="display:none;" {{/unless}}>
        {{#each effects as |effect|}}
        <li><img src="{{effect.icon}}" alt=""><span>{{{localize effect.label}}}</span>{{#if hasDuration}}{{#if ../hasPermission}}<span class="tooltip-duration"><i class="fa-duotone fa-stopwatch"></i> {{duration}}</span>{{/if}}{{/if}}</li>
        {{#if effect.description}}
        {{#if ../displayDescriptions}}
            {{#if ../hasPermission}}
                <div class="effect-description">{{{effect.description}}}</div>
            {{/if}}
        {{/if}}
        {{/if}}
        {{/each}}
    </ul>

    {{#if tooltipSystemIcons}}
        <div class="system-icons">
            {{#each resSystemIcons}}
            <i class="system-icon {{icon}}" style="color: {{color}};{{#unless visible}}display: none;{{/unless}}{{#unless enabled}}filter: grayscale(1);{{/unless}}{{#if fontSize}}font-size: {{fontSize}};{{/if}}"></i>
            {{/each}}
        </div>
    {{/if}}

</div>